<h1>Log in/Sign up</h1>

<%= render partial: 'errors', locals: { object: @user }%>

<%= form_with(url: '/', local: true) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br><br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br><br>
    <%= f.submit "Sign In" %>
<% end %>



<p><%= link_to "Sign Up", signup_path(@user) %></p>
<%= button_to "Sign In with Google", '/auth/google_oauth2' %>