<h1>sign up here</h1>
<%= render partial: 'sessions/errors', locals: { object: @user }%>
<%= render partial: 'form', locals: { object: @user, something: signup_path }%>
<%= form_with(model: @user, url: signup_path, local: true) do |f| %>
<div class="mb-3">
    <%= f.label "Profile Photo", class: "form-label" %>
    <%= f.file_field :avatar, class: "form-control form-control-sm"%>
    </div>
    <br><br>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <br><br>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br><br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br><br>
    <%= f.submit "Sign Up" %>
<% end %>