<h1>this should show</h1>

 <p><%= link_to "Log out", logout_path, method: "delete" %></p>
   <p><%= link_to "Edit", user_edit_path(@user) %></p>
  <b>Name: </b><%= @user.full_name%> <br>

  <%if @user.avatar.attached?%>
    
    <%=image_tag @user.avatar, height: 100, width: 100, class: "rounded-circle" %>
  <%end%>
  <br><br>
 <%if @rig.rig_avatar.attached?%>
    <%=image_tag @rig.rig_avatar, height: 90, width: 90, class: "rounded-circle" %>
  <%end%>


<p><%= link_to "new rig", new_rig_path%></p>
<p><%= link_to "new location", new_location_path%></p>
<p><%= link_to "location", locations_path%></p>
<p><%= link_to "New Travels", new_travel_path%></p>
<p><%= link_to "My Travels", travels_path%></p>



  





