

<div class="container overflow-hidden">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
            <hr class="my-4">    

                <h5><strong><%= @user.full_name%></strong> </h5>
                <% if @user.avatar.attached? %>
                    <%= image_tag @user.avatar, size: 200, class: "rounded-circle" %>
                <% end %>
                <% if @rig.avatar.attached? %>
                    <%= image_tag @rig.avatar, size: 100, class: "rounded-circle" %>
                <% end %>
                    <p>Your Travel Count: "<%= @user.travel_count%>"
                    <br>Rig Name: "<%= @rig.name%>"</p>
                    <%= link_to "Rig Profile", user_rig_path(current_user), class:"btn btn-primary"%>
                <ul>
                    <li>Year: <%= @rig.year_model%> </li>
                    <li>Make <%= @rig.make%> </li>
                    <li>Model <%= @rig.model%> </li>
                </ul> 

            <hr class="my-4">

                <div class="btn-group" role="group" aria-label="Basic example">
                        <%= link_to "New Travels", new_user_travel_path(current_user), class:"btn btn-primary"%>
                        <%= link_to "See Travels", user_travels_path(current_user ), class:"btn btn-primary"%>
                </div>
            </div>
        </div>
    <div>
</div>
  
        









  

  




