<h1>this should show</h1>

 <p><%= link_to "Log out", logout_path, method: "delete" %></p>
   <p><%= link_to "Edit", user_edit_path(@user) %></p>
  <b>Name: </b><%= @user.full_name%> <br>

  <%if @user.avatar.attached?%>
    
    <%=image_tag @user.avatar, height: 100, width: 100, class: "rounded-circle" %>
  <%end%>



<p><%= link_to "new rig", new_rig_path%></p>
<p><%= link_to "new location", new_location_path%></p>
<p><%= link_to "location", locations_path%></p>

<h2>current rig:</h2>


  






  <p> so you want to show persons current rig and potentially photo of the rig</p>
  <p> so you want to show persons current recent posts</p>
  <p> that is with the option of publicly posting it or just friends</p>